.container-jumbo {
    height: 450px;
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
}.footer-menu-container {
    background-image: url('../images/footer-bg.jpg');
    background-size: cover;

}

h3 {
    color: white;
}

li {
    list-style: none;
    color: gray;
}

ul {
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
}

.flex {
    display: flex;
    width: 90%;
    margin: auto;

    div {
        padding: 1rem;
    }
}

.dcBg {
    width: 400px;
    background-image: url(../assets/img/dc-logo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 300px;
}

footer {
    background-color: #1c1c1c;
}.comics-section {
    background-color: #1C1C1C;
}

.card-container {
    width: calc(100%/6);
    padding: 10px;
}

.card-image {
    aspect-ratio: 1/1;
}

.comic-image {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    width: 100%;
}.comic-container-positioned {

    position: absolute;
    top: 400px;
    left: 20%;
}

.comic-container-positioned img {
    -o-object-fit: contain;
       object-fit: contain;
}

.blue-under-header {
    height: 100px;
}

.comic-book,
.view-gallery {
    text-align: center;
    position: absolute;
    background-color: lightskyblue;
    color: white;
}

.comic-book {
    width: 60%;
    top: 0;
}

.view-gallery {
    width: 100%;
    bottom: 0;

}

.separee {
    height: 1px;
}

.specs,
.talent {
    width: 48%;
}